<div class="container">
<h1> <%= @survey.name %> </h1>
Public Link:<a id="survey_link" href="/surveys/"<%=@survey.id%>>/surveys/<%=@survey.id%></a>
<ol>
<% @results.each_pair do |key, val| %>
  <li class='question'> <%= key %> </li>
  <ul class='choice'>
    <% val.each do |choice| %>
      <li class='choice'><% choice.each_pair do |k, v| %>
        <%= k %>: <%= v %></li>
        <% end %>
    <% end %>
  </ul>
<% end %>
</ol>
</div>
